@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
body {
  margin: 0px;
  direction: rtl;
  font-family: 'Cairo', sans-serif;
}

.navbar {
  margin-bottom: 40px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #fff2e6;
}

.navbar li {
  float: right;
  margin-bottom: 0;
}

.navbar li:last-child{
  float: left !important;
}

.navbar li a {
  display: block;
  color: #f25555;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom: 2px solid #fff2e6
}

.navbar li a:hover {
  border-bottom: 2px solid #f25555;
}

.navbar li a.active {
  border-bottom: 2px solid #f25555;
}